.cart ul {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: grid;
  gap: 0.5rem;
  border-bottom: 1px solid green;
  font-size: 1.75rem;
}

.cart-item-quantity {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
